<li>
	<p {{#unless notDev}} style="text-decoration: line-through" {{/unless}} >
	  	{{this.burger_name}}
	  	{{#if notDev}}
			<button class="change-devoured btn btn-default" data-id="{{this.id}}" data-newdevoured="1">
			Eat it!
			</button>
		{{/if}}
	</p>
</li>